<ion-view  title="SignUp" hide-tabs style="background-color: lightyellow;">
    <ion-content>
        <div  class="list card" >

          <form  ng-controller="AccountCtrl">
    
        
          <input style="margin-top: 20px;" type="checkbox"> I agree with <a>terms and condition</a>
            <a type="submit" class="button button-block button-positive" href="#/tab/register">Register</a>

          <a  class="button button-block button-assertive" href="#/tab/login">
            Login
          </a>
          </form>

          </div>
              </ion-content>
</ion-view>